*.class
dependencies/taylorswift-thirdpartylibs/.settings/
dependencies/taylorswift-thirdpartywrappers/.settings/
TailorSwiftCore/TailorSwiftFeature/.settings/	
TailorSwiftCore/TailorSwiftPlugin/.settings/	
TailorSwiftCore/TailorSwiftPluginTest/.settings/
TailorSwiftCore/TailorSwiftSite/.settings/
TailorSwiftCore/TailorSwiftPlugin/.cbproperties
TailorSwiftCore/TailorSwiftPlugin/.localproperties
TailorSwiftCore/TailorSwiftPlugin/.tests/
dependencies/taylorswift-thirdpartylibs/.settings/target/
dependencies/taylorswift-thirdpartywrappers/.settings/target/
TailorSwiftCore/TailorSwiftFeature/.settings/target/
TailorSwiftCore/TailorSwiftPlugin/.settings/target/
TailorSwiftCore/TailorSwiftPluginTest/.settings/target/
TailorSwiftCore/TailorSwiftSite/.settings/target/
.settings/
*.jar
TailorSwiftCore/TailorSwiftPlugin/bin/


