<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="tailorswift.category.wizards"
            name="%category.name">
      </category>
      <wizard
            canFinishEarly="true"
            category="tailorswift.category.wizards"
            class="com.recipegrace.tailorswift.newproject.ui.WebScaldingNewSBTProject"
            id="cb.taylorswift.wizards.WebScaldingNewProject"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.recipegrace.tailorswift.launch.LaunchMavenWebScalding"
            id="TailorSwift.launchMavenWebScaldingConfiguration"
            modes="run,debug"
            name="MavenWebScalding"
            public="true"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="com.recipegrace.tailorswift.launch.LaunchSBTWebScalding"
            id="TailorSwift.SBTWebScaldingConfiguration"
            modes="run"
            name="SBTWebScalding"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.recipegrace.tailorswift.launch.ui.WebScaldingLaunchConfigurationTabGroup"
            id="cb.tailorswift.launch.MavenWebScaldingLaunchConfigurationTabGroup"
            type="TailorSwift.launchMavenWebScaldingConfiguration">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.recipegrace.tailorswift.launch.ui.WebScaldingLaunchConfigurationTabGroup"
            id="cb.tailorswift.launch.SBTWebScaldingLaunchConfigurationTabGroup"
            type="TailorSwift.SBTWebScaldingConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="TailorSwift.launchMavenWebScaldingConfiguration"
            icon="icons/car.png"
            id="TailorSwift.MavenlaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="TailorSwift.SBTWebScaldingConfiguration"
            icon="icons/car.png"
            id="TailorSwift.SBTlaunchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         
         <page id="TailorSwiftPreferencePage" 
 		name="Tailor Swift"
    		class="com.recipegrace.tailorswift.preferences.TailorSwiftPreferencePage">
   	</page> 
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="TailorSwiftPlugin.synchronizeNoHupOut"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="nohup.out">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="TailorSwiftPlugin.synchronizeNoHupOut"
            name="Update with server">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.recipegrace.tailorswift.commands.SynchronizeCommand"
            commandId="TailorSwiftPlugin.synchronizeNoHupOut">
      </handler>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.recipegrace.tailorswift.launchshortcut.WebScaldingShortCut"
            icon="icons/sample.gif"
            id="cb.tailorswift.launchshortcut"
            label="Web Scalding"
            modes="run">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1" />
            <iterate>
              <test
                    args="true"
                    forcePluginActivation="true"
                    property="com.recipegrace.tailorswift.isWebScaldingJob"
                    />
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
             </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="com.recipegrace.tailorswift.launch.ui.MavenWebScaldingLaunchTab"
            group="cb.tailorswift.launch.MavenWebScaldingLaunchConfigurationTabGroup"
            id="cb.tailorswift.launch.MavenWebScaldingLaunchTab"
            name="MavenWebscaldingLaunchTab">
      </tab>
      <tab
            class="com.recipegrace.tailorswift.launch.ui.SBTWebScaldingLaunchTab"
            group="cb.tailorswift.launch.SBTWebScaldingLaunchConfigurationTabGroup"
            id="cb.tailorswift.launch.SBTWebScaldingLaunchTab"
            name="SBTWebscaldingLaunchTab">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="tailorswift.category.wizards"
            class="com.recipegrace.tailorswift.newproject.ui.WebScaldingNewMavenProject"
            id="cb.tailorswift.mavenproject"
            name="Webscalding Project (Maven)"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.recipegrace.tailorswift.propertytester.WebScaldingJobTester"
            id="com.recipegrace.tailorswift.propertytester"
            namespace="com.recipegrace.tailorswift"
            properties="isWebScaldingJob"
            type="java.lang.Object">
      </propertyTester>
   </extension>


</plugin>
