<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="tailorswift.category.wizards"
            name="%category.name">
      </category>
      <wizard
            canFinishEarly="true"
            category="tailorswift.category.wizards"
            class="com.recipegrace.tailorswift.newproject.ui.WebScaldingNewSBTProject"
            id="cb.taylorswift.wizards.WebScaldingNewProject"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.recipegrace.tailorswift.launch.LaunchWebScalding"
            id="TailorSwift.launchWebScaldingConfiguration"
            modes="run,debug"
            name="%launchConfigurationType.name"
            public="true"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.recipegrace.tailorswift.launch.ui.WebScaldingLaunchConfigurationTabGroup"
            id="cb.tailorswift.launch.WebScaldingLaunchConfigurationTabGroup"
            type="TailorSwift.launchWebScaldingConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="TailorSwift.launchWebScaldingConfiguration"
            icon="icons/sample.gif"
            id="TailorSwift.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="com.recipegrace.tailorswift.launch.ui.LaunchConfigurationMainTab"
            group="cb.tailorswift.launch.WebScaldingLaunchConfigurationTabGroup"
            id="TailorSwift.webscaldingPage"
            name="TailorSwift.tab2">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         
         <page id="TailorSwiftPreferencePage" 
 		name="Tailor Swift"
    		class="com.recipegrace.tailorswift.preferences.TailorSwiftPreferencePage">
   	</page> 
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="TailorSwiftPlugin.synchronizeNoHupOut"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="nohup.out">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="TailorSwiftPlugin.synchronizeNoHupOut"
            name="Update with server">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.recipegrace.tailorswift.commands.SynchronizeCommand"
            commandId="TailorSwiftPlugin.synchronizeNoHupOut">
      </handler>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.recipegrace.tailorswift.launchshortcut.WebScaldingShortCut"
            icon="icons/sample.gif"
            id="cb.tailorswift.launchshortcut"
            label="Web Scalding"
            modes="run">
                    <contextualLaunch>
           <contextLabel label="Launch Webscalding" mode="run"/>
           <enablement>
              <count value="1"/>
              <iterate>
                 <or>
                    <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
                    <adapt type="org.eclipse.core.resources.IProject">
                       <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.m2e.core.maven2Nature"/>
                    </adapt>
                 </or>
              </iterate>
           </enablement>
       </contextualLaunch>
             </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="com.recipegrace.tailorswift.launch.ui.WebScaldingLaunchTab"
            group="cb.tailorswift.launch.WebScaldingLaunchConfigurationTabGroup"
            id="cb.tailorswift.launch.WebScaldingLaunchTab"
            name="WebscaldingLaunch_tab">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="tailorswift.category.wizards"
            class="com.recipegrace.tailorswift.newproject.ui.WebScaldingNewMavenProject"
            id="cb.tailorswift.mavenproject"
            name="Webscalding Project (Maven)"
            project="true">
      </wizard>
   </extension>


</plugin>
