<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="tailorswift.category.wizards"
            name="%category.name">
      </category>
      <wizard
            canFinishEarly="true"
            category="tailorswift.category.wizards"
            class="cb.tailorswift.wizards.WebScaldingNewProject"
            id="cb.taylorswift.wizards.WebScaldingNewProject"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="cb.tailorswift.launch.LaunchWebScaldingJob"
            id="TailorSwift.launchWebScaldingConfiguration"
            modes="run,debug"
            name="%launchConfigurationType.name"
            public="true"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="cb.tailorswift.launch.WebScaldingLaunchConfigurationTabGroup"
            id="cb.tailorswift.launch.WebScaldingLaunchConfigurationTabGroup"
            type="TailorSwift.launchWebScaldingConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="TailorSwift.launchWebScaldingConfiguration"
            icon="icons/sample.gif"
            id="TailorSwift.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="cb.tailorswift.launch.LaunchConfigurationMainTab"
            group="cb.tailorswift.launch.WebScaldingLaunchConfigurationTabGroup"
            id="TailorSwift.webscaldingPage"
            name="TailorSwift.tab2">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         
         <page id="TailorSwiftPreferencePage" 
 		name="Tailor Swift"
    		class="cb.tailorswift.preferences.TailorSwiftPreferencePage">
   	</page> 
   </extension>


</plugin>
